* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: teal;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  position: relative;
  line-height: 1.7;
  margin: 1rem 0;
}

h1::before {
  position: absolute;
  content: '';
  border: 1px solid rgb(255, 153, 0);
  bottom: 0;
  width: 50%;
}

h3 {
  font-size: 1rem;
  color: tomato;
}

p {
  line-height: 1.5;
}